* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  width: 100%;
  height: 65px;
  background-color: rgb(27, 26, 26);
  border: 2px,solid,red;
  color: #ff4a57;
  font-size: 20px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}
.navanchor {
  color: white;
  text-decoration: none;
  font-size: 25px;
  width: 102px;
  height: 30px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 20px;
  text-align: center;
  margin-bottom: px;
  border: 1px, solid, white;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
.navanchor:hover {
  font-size: 25px;
  width: 130px;
  background-color: white;
  color: black;
}
.navanchor::after {
  font-size: 25px;
  width: 130px;
  background-color: white;
  color: black;
}
.container {
  text-align: center;
  padding-top: 10px;
  text-transform: capitalize;
  width: 100%;
  height: 100vh;
}
label {
  font-size: 20px;
  font-weight: bolder;
  background-color: yellow;
}
.img {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
footer {
  height: 60px;
  background-color: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
